.grid {
    display: flex;
}

.column {
    display: flex;
    flex-flow: column;
    margin: 0;
}

.row {
    margin: 0;
    height: 50px;
    width: 50px;
    background: white;
    text-align: center;
}